version: '{build}'
skip_commits:
  files:
    - README.md
image: Visual Studio 2019
init:
  - ps: if (0) { iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1')) } #rdp debug
      
build_script:
# add this line or specify Platform
#- '"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" x64_x86'
- set vc_inc_arch=SSE2
#- call msbuild /m /p:Configuration=Release;Platform=x86 "%APPVEYOR_BUILD_FOLDER%\visual studio\suspend.sln" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
- call msbuild /m /p:Configuration=Release;Platform=x86 "%APPVEYOR_BUILD_FOLDER%\visual studio\suspend.sln" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
- cd "visual studio\Release"
- '7z a %APPVEYOR_BUILD_FOLDER%\suspend.7z -mx=9 -myx=9 *.exe'
- '7z a "%APPVEYOR_BUILD_FOLDER%\suspend with docs.7z" -mx=9 -myx=9 *.exe  "%APPVEYOR_BUILD_FOLDER%\visual studio\README.txt" "%APPVEYOR_BUILD_FOLDER%\visual studio\*.cmd"'

# x86 AVX2
- set vc_inc_arch=AVX2
- call msbuild /m /p:Configuration=Release;Platform=x86 -t:rebuild "%APPVEYOR_BUILD_FOLDER%\visual studio\suspend.sln" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
- '7z a %APPVEYOR_BUILD_FOLDER%\suspend-AVX2.7z -mx=9 -myx=9 *.exe'

#x64
#- call msbuild /m /p:Configuration=Release;Platform=x64 -t:rebuild "%APPVEYOR_BUILD_FOLDER%\visual studio\suspend.sln" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
#- '7z a %APPVEYOR_BUILD_FOLDER%\suspend-x64.7z -mx=9 -myx=9 *.exe'


- set release=%APPVEYOR_REPO_COMMIT:~0,7%

test: off
artifacts:
- path: suspend.7z
- path: suspend-AVX2.7z
- path: 'suspend with docs.7z'
deploy:
  - provider: GitHub
    tag: git
    release: $(release)
    auth_token:
      secure: KxeGOEgx0+XWdjLWDsyhC+B/w3m8zpvtVY/e+90lCLZgd/2VSuraPZDxdIPB5rfY
    force_update: true
    on:
      branch: master
